In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\HP\Documents\aiml assignments\titles.csv")
df

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

In [4]:
SS=df
SS.drop_duplicates()
SS.dropna()

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

In [5]:
SS.isna().sum()

title    0
year     0
dtype: int64

In [6]:
#df = pd.read_csv(r"C:\Users\HP\Documents\aiml assignments\cast ml.csv")
#print(df.head())

In [7]:
#df= pd.read_csv(r"C:\Users\HP\Documents\aiml assignments\release dates ml.csv")
#print(df.head())

In [8]:
###When was the first movie titled \"Hamlet\" made?
SS= pd.read_csv(r"C:\Users\HP\Documents\aiml assignments\titles.csv")
small_df=SS[(SS['title']=='Hamlet')]
print(small_df[ 'year'])

6422      2017
10637     1921
39916     1913
52521     1910
62000     2000
67406     1969
82130     1987
88065     2016
101728    1948
122827    1973
133921    1976
154029    2015
161324    1964
172640    1954
173033    2011
178222    1996
189093    2009
192142    1990
198234    1911
202025    2014
Name: year, dtype: int64

In [9]:
1### How many movies are listed in the titles dataframe?
#df = pd.read_csv(r"C:\Users\HP\Documents\aiml assignments\titles.csv")
print("total no. of movies under title colomn:",SS['title'].count())

total no. of movies under title colomn: 244914

In [10]:
2###What are the earliest two films listed in the titles dataframe?"
SS.nsmallest(3,['year'])
SS.sort_values(by=['year']).head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

In [11]:
3### How many movies have the title \"Hamlet\"?
#small_df= SS[['title','year']]
#result=small_df.sort_values('year')
#'title'=='Hamlet'
#print(result)
#print('the no.of movies have the title Hamlet is:',df['title']=='Hamlet')
len(SS[SS['title']=='Hamlet'])

20

In [14]:
4###How many movies are titled \"North by Northwest\"?"
#result=small_df.sort_values('title'== 'North by Northwest')
#print("the no. of movies are titled north by northwest are:",SS['title']== "North by Northwest")
len(SS[SS['title']=='North by Northwest'])

1

In [15]:
# When was the first movie titled \"Hamlet\" made
a=SS[SS['title']=='Hamlet']
b=a.sort_values(by=['year'])
print(b.head(1))

        title  year
52521  Hamlet  1910

In [16]:
#List all of the \"Treasure Island\" movies from earliest to most recent
SS[SS['title']=='Treasure Island'].sort_values(by=['year'])

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

In [17]:
# How many movies were made in the year 1950?
len(SS[SS['year']==1950])

1113

In [18]:
# How many movies were made in the year 1960
len(SS[SS['year']==1960])

1549

In [20]:
# How many movies were made from 1950 through 1959
len(SS[(SS['year']>=1950)&(SS['year']<=1959)])

12934

In [21]:
#In what years has a movie titled \"Batman\" been released?"
print('The Movies titled Batman were released in below mentioned years:\\n',(SS[SS['title']=='Batman']).year)

The Movies titled Batman were released in below mentioned years:\n 39349     1943
240896    1989
Name: year, dtype: int64

In [26]:
cast = pd.read_csv(r"C:\Users\HP\Documents\aiml assignments\cast ml.csv")
print(df.head())

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [34]:
#How many roles were there in the movie \"Inception\"?"
print("The number of roles in the movie Inception are :")
print(len(cast[cast['title']=='Inception'].type))
print("Below is the list of the respective cast:",cast[cast['title']=='Inception'])

The number of roles in the movie Inception are :
28
Below is the list of the respective cast:              title  year                     name   type  \
98153    Inception  2010     Michael (III) August  actor
149008   Inception  2010             Peter Basham  actor
183937   Inception  2010             Tom Berenger  actor
197877   Inception  2010                 Ken Bhan  actor
260128   Inception  2010           Virgile Bramly  actor
326745   Inception  2010            Michael Caine  actor
333415   Inception  2010             Earl Cameron  actor
374661   Inception  2010            John Ceallach  actor
433867   Inception  2010            Nicolas Clerc  actor
444385   Inception  2010           Adam (IV) Cole  actor
497161   Inception  2010             Garvin Cross  actor
517227   Inception  2010       Jean-Michel Dagory  actor
590576   Inception  2010        Leonardo DiCaprio  actor
684098   Inception  2010            Seve Esposito  actor
690634   Inception  2010      Marcus (II) Everett  actor
707642   Inception  2010  Zachary Christopher Fay  actor
709436   Inception  2010                Russ Fega  actor
737322   Inception  2010         Mark Fleischmann  actor
807795   Inception  2010           Michael Gaston  actor
812135   Inception  2010          Johnathan Geare  actor
832083   Inception  2010            Carl Gilliard  actor
833376   Inception  2010              Jack Gilroy  actor
836295   Inception  2010        Daniel Girondeaud  actor
859993   Inception  2010     Joseph Gordon-Levitt  actor
910757   Inception  2010               Lukas Haas  actor
940923   Inception  2010                Tom Hardy  actor
967176   Inception  2010             Ryan Hayward  actor
1006636  Inception  2010          Andrew Hoagland  actor

                     character     n
98153            LAX Passenger   NaN
149008   Fischer's Jet Captain  44.0
183937                Browning   8.0
197877        Mombasan Gambler   NaN
260128          Bridge Sub Con  29.0
326745                   Miles  11.0
333415        Elderly Bald Man  20.0
374661           LAX Passenger   NaN
433867          Bridge Sub Con  26.0
444385             Bar Sub Con  34.0
497161          Snow Commander   NaN
517227          Bridge Sub Con  30.0
590576                    Cobb   1.0
684098         Italian Gambler   NaN
690634            Stock Broker   NaN
707642                   Extra   NaN
709436              Cab Driver  23.0
737322         Penrose Sub Con  32.0
807795     Immigration Officer  45.0
812135         James (3 years)  17.0
832083           Lobby Sub Con  40.0
833376                Old Cobb  50.0
836295          Bridge Sub Con   NaN
859993                  Arthur   2.0
910757                    Nash  12.0
940923                   Eames   4.0
967176                  Lawyer  21.0
1006636             Pedestrian   NaN

In [35]:
#How many roles in the movie \"Inception\" are NOT ranked by an \"n\" value
print("The count of roles in the movie Inception not ranked by n value are:")
print(len(cast[(cast['title']=='Inception')&(cast['n'].isnull()==True)].type))

The count of roles in the movie Inception not ranked by n value are:
9

In [36]:
#But how many roles in the movie \"Inception\" did receive an \"n\" value?"
print("The count of roles in the movie Inception with n value are:")
print(len(cast[(cast['title']=='Inception')&(cast['n'].isnull()==False)].type))

The count of roles in the movie Inception with n value are:
19

In [38]:
#Display the cast of \"North by Northwest\" in their correct \"n\"-value order, ignoring roles that did not earn a numeric \"n\" value.
print("The cast of North by Northwest in their correct n-value order value with n values are:")
print(cast[(cast['title']=="North by Northwest")&(cast['n'].isnull()==False)].sort_values(by=['n']).name)

The cast of North by Northwest in their correct n-value order value with n values are:
871426           Cary Grant
356707       Leo G. Carroll
665768    Robert Ellenstein
464736      Philip Coolidge
206471         Edward Binns
Name: name, dtype: object

In [39]:
#Display the entire cast, in \"n\"-order, of the 1972 film \"Sleuth\"."
print("The entire cast in n-order of the 1972 film Sleuth are:")
print((cast[(cast['title']=="Sleuth")&(cast['year']==1972)]).sort_values(by=['n']))

The entire cast in n-order of the 1972 film Sleuth are:
         title  year            name   type          character    n
326773  Sleuth  1972   Michael Caine  actor        Milo Tindle  2.0
373876  Sleuth  1972  Alec Cawthorne  actor  Inspector Doppler  3.0

In [40]:
#Now display the entire cast, in \"n\"-order, of the 2007 version of \"Sleuth
print("The entire cast in n-order of the 2007 version of Sleuth:")
print(cast[(cast['title']=="Sleuth")&(cast['year']==2007)].sort_values(by=['n']))

The entire cast in n-order of the 2007 version of Sleuth:
         title  year                 name   type          character    n
326774  Sleuth  2007        Michael Caine  actor             Andrew  1.0
260242  Sleuth  2007      Kenneth Branagh  actor  Other Man on T.V.  NaN
373877  Sleuth  2007  Alec (II) Cawthorne  actor  Inspector Doppler  NaN

In [41]:
#How many roles were credited in the silent 1921 version of Hamlet?"
print("The count of roles that were credited in the silent 1921 version of Hamlet are:")
print(len(cast[(cast['title']=='Hamlet')&(cast['year']==1921)]))

The count of roles that were credited in the silent 1921 version of Hamlet are:
3

In [42]:
#How many roles were credited in Branaghâ€™s 1996 Hamlet?"
print("The count of roles that were credited in the Branagh's 1996 Hamlet are:")
print(len(cast[(cast['title']=='Hamlet')&(cast['year']==1996)]))

The count of roles that were credited in the Branagh's 1996 Hamlet are:
22

In [43]:
#How many \"Hamlet\" roles have been listed in all film credits through history?"
print("The count of Hamlet roles that have been listed in all film credits through the history are:")
print(len(cast[(cast['title']=='Hamlet')]))

The count of Hamlet roles that have been listed in all film credits through the history are:
117

In [44]:
#How many people have played an \"Ophelia\"?"
print("People who played Ophelia are:")
print(cast[cast['character']=='Ophelia'].name)

People who played Ophelia are:
248251        Amy Bourque
410247     Josie Chisholm
470859    Crystal Cordero
866334      Lucas Grabeel
Name: name, dtype: object

In [45]:
#"# How many people have played a role called \"The Dude\
print("People who played The Dude are:")
print(cast[cast['character']=='The Dude'].name)

People who played The Dude are:
272161          Jeff Bridges
339389           Jordan Cann
498660         Scott Crowell
570128        Chris DeMarcus
610791           Mike Donlin
629473        Devin The Dude
855976    Michael D. Goodwin
Name: name, dtype: object

In [46]:
#How many people have played a role called \"The Stranger\"?"
print("People who played The Stranger are:")
print(cast[cast['character']=='The Stranger'].name)

People who played The Stranger are:
25954      Hassan Mutlag Al-Maraiyeh
35748           Vincent H. Alexander
46418                   Terral Altom
67421                   Tony Anthony
67424                   Tony Anthony
                     ...
980374               Lance Henriksen
994124                     Dan Hicks
1000537                George Hilton
1027457                  Lee Horsley
1034131                Kevin Howarth
Name: name, Length: 84, dtype: object

In [47]:
#How many roles has Sidney Poitier played throughout his career?"
print("The count of roles played by Sidney Poitier are:")
print(len(cast[cast['name']=='Sidney Poitier']))

The count of roles played by Sidney Poitier are:
0

In [48]:
#How many roles has Judi Dench played?"
print("The count of roles played by Judi Dench are:")
print(len(cast[cast['name']=='Judi Dench']))

The count of roles played by Judi Dench are:
0

In [49]:
#List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year."
print("List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year. are:")
cast[(cast['name']=='Cary Grant')&(cast['n']==2)&(cast['year']>=1940)&(cast['year']<=1949)].sort_values(by=['year'])

List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year. are:

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [50]:
#"# List the leading roles that Cary Grant played in the 1940s in order by year
print(" List the leading roles that Cary Grant played in the 1940s in order by year. are:")
cast[(cast['name']=='Cary Grant')&(cast['n']==1)&(cast['year']>=1940)&(cast['year']<=1949)].sort_values(by=['year'])

 List the leading roles that Cary Grant played in the 1940s in order by year. are:

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

In [51]:
#How many roles were available for actors in the 1950s?
print("The count of roles available for actors in 1950s are:")
print(len(cast[(cast['year']>=1950)&(cast['year']<=1959)&(cast['type']=='actor')].type))

The count of roles available for actors in 1950s are:
66653

In [52]:
#"# How many roles were available for actresses in the 1950s
print("The count of roles available for actresses in 1950s are:")
print(len(cast[(cast['year']>=1950)&(cast['year']<=1959)&(cast['type']=='actress')].type))

The count of roles available for actresses in 1950s are:
0

In [53]:
#How many non-leading roles were available through from the beginning of film history through 1980
print("The count of non-leading roles available from the beginning of film history through 1980 are:")
print(len(cast[(cast['year']<=1980)&(cast['n']!=1)].type))

The count of non-leading roles available from the beginning of film history through 1980 are:
346128

In [54]:
#How many roles through 1980 were minor enough that they did not warrant a numeric \"n\" rank?"
print("The count of roles through 1980 that were minor enough and did not warrant a numeric n rank are:")
print(len(cast[(cast['year']==1980)&(cast['n'].isnull()==True)]))

The count of roles through 1980 that were minor enough and did not warrant a numeric n rank are:
1251